<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>X1Plus WebHMI</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <style>
        body {
            background-color: #a8a2a29c; /* Light grey background */
        }
        .centered-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
    <script src="/noVNC/core/rfb.js"></script>
    <script src="/noVNC/app/ui.js"></script>
    <script>
        function refreshImage() {
            var img = document.getElementById('liveImage');
            img.src = '/current_image?' + new Date().getTime();
        }
        setInterval(refreshImage, 5000); // Refresh every 5000 milliseconds (5 seconds)

        function refreshModelImage() {
            var img = document.getElementById('modelImage');
            img.src = '/current_model_image?' + new Date().getTime();
        }
        setInterval(refreshModelImage, 180000); // Refresh every 180000 milliseconds (3 minutes)

        window.onload = function() {
            // Initialize noVNC without authentication
            const rfb = new RFB(document.getElementById('vnc-display'), 'ws://192.168.9.78:5900');

            rfb.scaleViewport = true; // Optional: Scale the viewport to fit the size of the container
        };
    </script>
</head>
<body>
    <div class="centered-content">
        <!---<h1>3D Printer Status: {{ details.status }}</h1>-->
        <h2>{{ details.current_job }}</h2>
        <img id="liveImage" src="/current_image" alt="Current Image">
        <img id="modelImage" src="/current_model_image" alt="Model Image" style="width: 200px; height: 200px;">
        <!---<p>Progress: {{ details.progress }}%</p>
        <h2>Temperatures</h2>
        <p>Nozzle: {{ details.temperature.nozzle }}°C</p>
        <p>Bed: {{ details.temperature.bed }}°C</p>-->
        
        <div id="vnc-display" style="width: 800px; height: 600px;"></div>

        <div style="display: flex; justify-content: center; gap: 10px;">
            <form action="/home_xyz_func" method="post">
                <button type="submit">Home Printer</button>
            </form>
            <form action="/preheat_100c" method="post">
                <button type="submit">Preheat On</button>
            </form>
            <form action="/preheat_0c" method="post">
                <button type="submit">Preheat Off</button>
            </form>
            <form action="/start_bbl_screen_vnc" method="post">
                <button type="submit">Start VNC</button>
            </form>
        </div>

        <div>
            <p>{{ details.latest_message }}</p>
        </div>
    </div>
</body>
</html>
